// ==========================================================================
// Text
// ==========================================================================
.c-text--01 {
  font-size: $font-size-18px;
  line-height: 2.1rem;
}

// ==========================================================================
// Lead Text
// ==========================================================================
.c-text--lead {
  margin: rem(-16px) 0 0;
}

// ==========================================================================
// Error Text
// ==========================================================================
.c-text--error {
    display: block;
    color: $font-color-error;

    * {
      color: inherit;
    }
}

// ==========================================================================
// Date Text
// ==========================================================================
.c-text--date {
    font-size: $font-size-14px;
    color: $color-26;
    margin: rem(9px) 0;
}

// ==========================================================================
// Transaction Text
// ==========================================================================
.c-text--transaction {
    color: $color-19;
    font-weight: bold;
    line-height: rem(100px);

    &.plus {
      color: $color-17;
    }
}